@model BugTracker.Model.Database.Mitarbeiter

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "/Views/Admin/_layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Home</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Mitarbeiters">Mitarbeiter</a></li>
                        <li class="breadcrumb-item active">Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="card card-primary" style="width: 100%">
                    <div class="card-header">
                        <h3 class="card-title">Detailansicht - Mitarbeiter</h3>
                        <div class="card-tools">
                            <a asp-action="Edit" asp-route-id="@Model.MitarbeiterId"><img src="~/img/EditIcon.png" /></a> |
                            <a asp-action="Delete" asp-route-id="@Model.MitarbeiterId"><img src="~/img/DeleteIcon.png" /></a>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Vorname)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Vorname)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Nachname)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Nachname)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Abteilung)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Abteilung)
                            </dd>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- right col -->
</div>
<!-- /.row (main row) -->
